
0_dataset/DepressionUsersTweets/

0_dataset/regularUsersTweets/

0_dataset/diagnosed_tweets\.csv

0_dataset/GetOldTweets-python/

0_dataset/ordinaryUsersTweets/

Illegal_Users/

LIWC2007 Documents/

1_preprocessing/liwcDictionary\.pickle

1_preprocessing/liwcExtractor\.py

tmp_notes

1_preprocessing/stopwords_dict_ordinary

1_preprocessing/stopwords_dict_depression

1_preprocessing/__pycache__/liwcExtractor\.cpython-35\.pyc

0_dataset/Output/

0_dataset/testSh/

tweetPQ

userInfo

*.csv

*.sh

1_preprocessing/img/

0_dataset/diagnosedTweetsPatch2

0_dataset/diagnosedTweetsPatch3

0_dataset/diagnosedTweetsPatch4

1_preprocessing/categoryTableBase

1_preprocessing/categoryTableGroupAndBase

1_preprocessing/categoryTableGroup

1_preprocessing/patterListFeatures

1_preprocessing/threeCategoriesHitNumber

1_preprocessing/top100_correspond20170911_1

1_preprocessing/top100_correspond20170911_2

0_dataset/patch2PatientIDs

0_dataset/patch3PatientIDs

1_preprocessing/patch2FilterOutCase1

0_dataset/sampleOrdinaryIDtoName

0_dataset/sampleOrdinaryIDs

0_dataset/ordinaryIDs

1_preprocessing/groupTfidfResultCase3Idf_

English_to_IPA/tests/

English_to_IPA/src/

English_to_IPA/

1_preprocessing/eSPEPhonologicalFeatures

1_preprocessing/eSPEPhonologicalTable

0_dataset/OrdinaryUsersTweets_PoL/

img/

0_dataset/

age_gender_predictor/

1_preprocessing/D1-VSE1\.png

1_preprocessing/D1-VSE10\.png

1_preprocessing/D1-VSE17\.png

1_preprocessing/D1-VSE2\.png

1_preprocessing/D1-VSE9\.png

1_preprocessing/D11\.png

1_preprocessing/D1-VSE4\.png

1_preprocessing/D1-VSE3\.png

1_preprocessing/D110\.png

1_preprocessing/D13\.png

1_preprocessing/D19\.png

1_preprocessing/D12\.png

1_preprocessing/D117\.png

1_preprocessing/D2-VSE1\.png

1_preprocessing/D2-VSE12\.png

1_preprocessing/D2-VSE10\.png

1_preprocessing/D2-VSE3\.png

1_preprocessing/D2-VSE2\.png

1_preprocessing/D2-VSE6\.png

1_preprocessing/D2-VSE19\.png

1_preprocessing/D21\.png

1_preprocessing/D2-VSE9\.png

1_preprocessing/D2-VSE17\.png

1_preprocessing/D210\.png

1_preprocessing/D217\.png

1_preprocessing/D22\.png

1_preprocessing/D23\.png

1_preprocessing/D28\.png

1_preprocessing/D3-VSE1\.png

1_preprocessing/D31\.png

1_preprocessing/D29\.png

1_preprocessing/D3-VSE10\.png

1_preprocessing/D26\.png

1_preprocessing/D3-VSE12\.png

1_preprocessing/D3-VSE17\.png

1_preprocessing/D3-VSE2\.png

1_preprocessing/D3-VSE26\.png

1_preprocessing/D3-VSE3\.png

1_preprocessing/D3-VSE6\.png

1_preprocessing/D3-VSE9\.png

1_preprocessing/D310\.png

1_preprocessing/D317\.png

1_preprocessing/D32\.png

1_preprocessing/D33\.png

1_preprocessing/D39\.png

1_preprocessing/eSPEPhonologicalTable2

1_preprocessing/eSPEPhonologicalTableV2

1_preprocessing/eSPEPhonologicalTableV3

1_preprocessing/eSPEPhonologicalTableV4

1_preprocessing/eSPEPhonologicalTableVES
