
0_dataset/DepressionUsersTweets/

0_dataset/regularUsersTweets/

0_dataset/diagnosed_tweets\.csv

0_dataset/GetOldTweets-python/

0_dataset/ordinaryUsersTweets/

Illegal_Users/

LIWC2007 Documents/

1_preprocessing/liwcDictionary\.pickle

1_preprocessing/liwcExtractor\.py

tmp_notes

1_preprocessing/stopwords_dict_ordinary

1_preprocessing/stopwords_dict_depression

1_preprocessing/__pycache__/liwcExtractor\.cpython-35\.pyc

0_dataset/Output/

0_dataset/testSh/

tweetPQ

userInfo

*.csv

*.sh

1_preprocessing/img/

0_dataset/diagnosedTweetsPatch2

0_dataset/diagnosedTweetsPatch3

0_dataset/diagnosedTweetsPatch4

1_preprocessing/categoryTableBase

1_preprocessing/categoryTableGroupAndBase

1_preprocessing/categoryTableGroup

1_preprocessing/patterListFeatures

1_preprocessing/threeCategoriesHitNumber

1_preprocessing/top100_correspond20170911_1

1_preprocessing/top100_correspond20170911_2

0_dataset/patch2PatientIDs

0_dataset/patch3PatientIDs

1_preprocessing/patch2FilterOutCase1
